@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
.r01{
    text-align: right;
}
*{
    font-family:'Rye', cursive;
    font-size: 16px;
}
body{
    background-color: black;
    background-image:url("imagens/fundo.png");
    background-position: center;
}
.pointer{ 
    cursor: pointer; 
    
}
main{
    background-color: rgb(36, 23, 12);
    width: 90%;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}
article{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    background-color:rgb(231, 215, 143) ;
    border-radius: 10px;
}
a > article:hover {
    text-decoration: none;
    background-color: rgb(126, 116, 75);
}
ul#centro {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
header {
    border: 2px solid rgb(0, 0, 0);
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    background-color:rgb(91, 55, 36) ;
    border-radius: 20px;
}
table#header {
    margin-left: auto;
    margin-right: auto;
}
.ingredientes {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(51, 31, 19);
    align-self: right;
}
.ingredientes td{
    background-color: rgb(255, 235, 205);
    padding: 5px;
    border: 3px solid rgb(51, 31, 19);
}
h1 {
    background-color:rgb(91, 55, 36) ;
    border-radius: 2px;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
    color: rgb(7, 4, 2);
}
h2 {
    font-size: 1.5em;
    text-shadow: 2px 2px 5px black;
    color: rgb(36, 23, 12);
}h3{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: rgb(36, 23, 12);
}
img.direito{
    float: right;
}
img.pao{
    width: 50px;
}
td{
    text-align: left;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: none;
    background-color: aqua;
}
/* Color Theme Swatches in Hex */
.wood-1-hex { color: #331F13; }
.wood-2-hex { color: #573A23; }
.wood-3-hex { color: #24170C; }
.wood-4-hex { color: #7C5139; }
.wood-5-hex { color: #5B3724; }

/* Color Theme Swatches in RGBA */
.wood-1-rgba { color: rgba(51, 31, 18, 1); }
.wood-2-rgba { color: rgba(86, 58, 35, 1); }
.wood-3-rgba { color: rgba(35, 23, 11, 1); }
.wood-4-rgba { color: rgba(124, 80, 56, 1); }
.wood-5-rgba { color: rgba(91, 54, 35, 1); }

/* Color Theme Swatches in HSLA */
.wood-1-hsla { color: hsla(22, 45, 13, 1); }
.wood-2-hsla { color: hsla(26, 42, 23, 1); }
.wood-3-hsla { color: hsla(27, 49, 9, 1); }
.wood-4-hsla { color: hsla(21, 37, 35, 1); }
.wood-5-hsla { color: hsla(20, 43, 24, 1); }
